services:
  # Message Broker
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

  # Postgres - Orders
  orders_db:
    image: postgres:15
    container_name: orders_db
    environment:
      POSTGRES_DB: orders_db
      POSTGRES_USER: orders_user
      POSTGRES_PASSWORD: orders_pass
    ports:
      - "5432:5432"

  orders_service:
    build:
      context: ./orders_service
      dockerfile: Dockerfile
    container_name: orders_service
    ports:
      - "8001:8000"
    depends_on:
      rabbitmq:
        condition: service_healthy
      orders_db:
        condition: service_started
    restart: on-failure

  # Postgres - Inventory
  inventory_db:
    image: postgres:15
    container_name: inventory_db
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: inventory_pass
    ports:
      - "5433:5432"

  inventory_service:
    build:
      context: ./inventory_service
      dockerfile: Dockerfile
    container_name: inventory_service
    ports:
      - "8002:8000"
    depends_on:
      rabbitmq:
        condition: service_healthy
      inventory_db:
        condition: service_started
    restart: on-failure

  notifications_service:
    build:
      context: ./notifications_service
      dockerfile: Dockerfile
    container_name: notifications_service
    ports:
      - "8003:8000"
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
